In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import numpy as np
import pandas as pd

In [3]:
url = 'https://data.cityofnewyork.us/resource/nwxe-4ae8.json'
trees = pd.read_json(url)
trees.head(10)

,address,bbl,bin,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,...,tree_dbh,tree_id,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode
0,108-005 70 AVENUE,4.022210e+09,4052307.0,348711,4073900,4,Queens,No,No,No,...,3,180683,No,No,No,TreesCount Staff,1.027431e+06,202756.7687,Forest Hills,11375
1,147-074 7 AVENUE,4.044750e+09,4101931.0,315986,4097300,4,Queens,No,No,No,...,21,200540,No,No,No,TreesCount Staff,1.034456e+06,228644.8374,Whitestone,11357
2,390 MORGAN AVENUE,3.028870e+09,3338310.0,218365,3044900,3,Brooklyn,No,No,No,...,3,204026,No,No,No,Volunteer,1.001823e+06,200716.8913,Brooklyn,11211
3,1027 GRAND STREET,3.029250e+09,3338342.0,217969,3044900,3,Brooklyn,No,No,No,...,10,204337,No,No,No,Volunteer,1.002420e+06,199244.2531,Brooklyn,11211
4,603 6 STREET,3.010850e+09,3025654.0,223043,3016500,3,Brooklyn,No,No,No,...,21,189565,No,No,No,Volunteer,9.909138e+05,182202.4260,Brooklyn,11215
5,8 COLUMBUS AVENUE,1.011310e+09,1076229.0,106099,1014500,1,Manhattan,No,No,No,...,11,190422,No,No,No,Volunteer,9.884187e+05,219825.5227,New York,10023
6,120 WEST 60 STREET,1.011310e+09,1076229.0,106099,1014500,1,Manhattan,No,No,No,...,11,190426,No,No,No,Volunteer,9.883112e+05,219885.2785,New York,10023
7,311 WEST 50 STREET,1.010410e+09,1086093.0,103940,1012700,1,Manhattan,No,No,No,...,9,208649,No,No,No,Volunteer,9.877691e+05,217157.8561,New York,10019
8,65 JEROME AVENUE,NaN,NaN,407443,5006400,5,Staten Island,No,No,No,...,6,209610,No,No,No,TreesCount Staff,9.630732e+05,156635.5542,Staten Island,10305
9,638 AVENUE Z,3.072350e+09,3320727.0,207508,3037402,3,Brooklyn,No,No,No,...,21,192755,No,No,No,TreesCount Staff,9.926537e+05,152903.6306,Brooklyn,11223

In [4]:
boro = 'Bronx'
BX_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Bronx\'' +\
        '&$group=health').replace(' ', '%20')
BX_soql_url = pd.read_json(BX_soql_url)
BX_soql_url

boro = 'Brooklyn'
BK_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Brooklyn\'' +\
        '&$group=health').replace(' ', '%20')
BK_soql_url = pd.read_json(BK_soql_url)
BK_soql_url

boro = 'Staten Island'
SI_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Staten Island\'' +\
        '&$group=health').replace(' ', '%20')
SI_soql_url = pd.read_json(SI_soql_url)
SI_soql_url

boro = 'Manhattan'
M_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Manhattan\'' +\
        '&$group=health').replace(' ', '%20')
M_soql_url = pd.read_json(M_soql_url)
M_soql_url


boro = 'Queens'
QN_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Queens\'' +\
        '&$group=health').replace(' ', '%20')
QN_soql_url = pd.read_json(QN_soql_url)
QN_soql_url

   count_tree_id health
0          34549   Fair
1         194008   Good
2           9417   Poor
3          12577    NaN

In [5]:
boro = 'NYC'
all_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=spc_common,health,steward,count(tree_id)' +\
        '&$group=spc_common,steward, health').replace(' ', '%20')
all_soql_url = pd.read_json(all_soql_url)

In [6]:
good = all_soql_url[all_soql_url['health'] == 'Good']
fair = all_soql_url[all_soql_url['health'] == 'Fair']
poor = all_soql_url[all_soql_url['health'] == 'Poor']

In [ ]:
app = dash.Dash()
server = app.server

colors = {'background':'D3D3D3', 'text':'#4a4949'}

app.layout = html.Div(children=[
    html.H1('NYC Proportion of Trees by Borough',style={'textAlign':'center',
                                                       'color':colors['text']}),
    html.Div('Tree Health',style={'textAlign':'center',
                                 'color':colors['text']}),
    dcc.Graph(id='Q1',
             figure={
            'data': [
                {'x': BX_soql_url['health'], 'y':BX_soql_url['count_tree_id'], 'type': 'bar', 'name': 'Bronx'},
                {'x': BK_soql_url['health'], 'y':BK_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Brooklyn'},
                {'x': QN_soql_url['health'], 'y':QN_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Queens'},
                {'x': M_soql_url['health'], 'y':M_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Manhattan'},
                {'x': SI_soql_url['health'], 'y':SI_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Staten Island'}
            ],
            'layout': {
                'title': 'Q1: Proportion of trees according to their health.',
                'plot_bgcolor':colors['background'],
                'paper_bgcolor':colors['background'],
                'font':{'color':colors['text']}
                
            }
        }
    ),dcc.Graph(id='Q2',
             figure={
            'data': [       
                {'x': good['steward'], 'y':good['count_tree_id'], 'type': 'bar', 'name': 'Good'},
                {'x': fair['steward'], 'y':fair['count_tree_id'], 'type': 'bar', 'name': 'Fair'},
                {'x': poor['steward'], 'y':poor['count_tree_id'], 'type': 'bar', 'name': 'Poor'},

            ],
            'layout': {
                'title': 'Q2: Are stewards having an impact on health of trees?',
                'plot_bgcolor':colors['background'],
                'paper_bgcolor':colors['background'],
                'font':{'color':colors['text'],
                'barmode':'bar'}
                
            }
        }
    )
])


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [24/Mar/2019 21:04:42] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [24/Mar/2019 21:04:43] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [24/Mar/2019 21:04:43] "GET /_dash-layout HTTP/1.1" 200 -